In [27]:
import pandas as pd

In [37]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=20)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.00
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.00
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.00
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.00
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.00
5,2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21.0,0.5,0.5,0.00,6.12,NaN,0.3,28.42,2,1,0.00
6,2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18.0,0.5,0.5,3.86,0.00,NaN,0.3,23.16,1,1,0.00
7,1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,3,1,0.00
8,1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,0.00,22.2,0.0,0.5,0.00,0.00,NaN,0.3,23.00,1,1,0.00
9,2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,0.14,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,2,1,0.00
10,1,2019-09-01 00:01:43,2019-09-01 00:13:13,N,1,129,7,1,1.90,9.5,0.5,0.5,0.00,0.00,NaN,0.3,10.80,2,1,0.00
11,1,2019-09-01 00:29:57,2019-09-01 00:57:26,N,1,179,215,1,0.00,30.2,0.0,0.5,0.00,0.00,NaN,0.3,31.00,1,1,0.00
12,2,2019-09-01 00:19:22,2019-09-01 00:46:01,N,1,129,171,5,6.08,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.00
13,2,2019-09-01 00:39:37,2019-09-01 00:48:50,N,1,129,129,1,0.86,7.0,0.5,0.5,0.00,0.00,NaN,0.3,8.30,2,1,0.00
14,2,2019-09-01 00:13:37,2019-09-01 00:26:46,N,1,74,163,1,3.59,13.0,0.5,0.5,5.12,0.00,NaN,0.3,22.17,1,1,2.75
15,1,2019-09-01 00:35:43,2019-09-01 00:47:21,N,1,7,83,1,2.10,9.5,1.0,0.5,1.70,0.00,NaN,0.3,13.00,1,1,0.00
16,2,2019-09-01 00:24:20,2019-09-01 00:32:35,N,1,42,116,1,0.86,6.5,0.5,0.5,0.00,0.00,NaN,0.3,7.80,2,1,0.00
17,2,2019-09-01 00:45:46,2019-09-01 00:54:31,N,1,92,70,1,2.59,10.0,0.5,0.5,0.00,0.00,NaN,0.3,11.30,2,1,0.00
18,2,2019-09-01 00:04:52,2019-09-01 00:26:44,N,1,83,202,1,3.92,16.5,0.5,0.5,0.00,0.00,NaN,0.3,17.80,2,1,0.00
19,2,2019-09-01 00:13:57,2019-09-01 00:34:04,N,1,223,137,1,5.05,18.5,0.5,0.5,0.00,0.00,NaN,0.3,22.55,2,1,2.75

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [38]:
print(pd.io.sql.get_schema(df, name='sembarang'))

CREATE TABLE "sembarang" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)